# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/xframe-core/xframe-config/xframe-config-nacos/target/
/xframe-demo/xframe-demo-provider/target/classes/
/xframe-core/xframe-common/target/
